# ./prometheus/prometheus.yml

global:
  scrape_interval: 15s # Scrape targets every 15 seconds

scrape_configs:
  # Job to scrape Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # A job to scrape the node-exporter
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'backend-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'backend-service:8080' ]
