apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - '--config.file=/etc/prometheus/prometheus.yml'
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus/
      volumes:
        - name: prometheus-config-volume
          configMap:
            name: prometheus-config # This links to the ConfigMap you created
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus # This is the DNS name Prometheus will be available at
spec:
  type: NodePort # NodePort exposes this on your Minikube IP
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090 # You can access this at http://<minikube-ip>:30090
  selector:
    app: prometheus # Connects this service to the pods from the Deployment